<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda officiis ullam iure obcaecati maxime magnam tempore, rem in consequatur recusandae odio, quasi inventore minima facilis repellendus dolores illo ex est.</p>

    </div>
</div>